.todo-from {
    padding: 10px 15px;
    border: 3px solid blue;
    margin-bottom: 14px;
    border-radius: 5px;
    background-color: white;
}
.todo-from .form-group {
    padding: 3px 0px;
}
.todo-from .form-control {
    width: 80%;
}
.error {
    border: 2px solid red;
    color:red;
}
