.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.todo-list li {
    background-color: aliceblue;
    padding: 4px 6px;
    margin: 6px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #03038e;
}
.completed {
    text-decoration: line-through;
}
.not-completed {
    font-size: 1.1em;
}

.fa-icon {
    margin-right: 5px;
}
.fa-icon.not-completed {
    color: red;
}
